
/* SLIDER CSS STARTS HERE */

#slider {
  width: 100vw;
  display: flex;
}

#slide-track {
  display: flex;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(calc(-230px*10));
  }
}

#slide-track:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.slide {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide img {
  width: 150px;
  height: 225px;
  transition: transform 1s;
}

.slide img:hover {
  transform: translateZ(30px);
}

/* SECTION CSS STARTS HERE */

.section {
  width: 100%;
  margin: 25px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* POSTER CSS STARTS HERE */
.poster {
  width: 200px;
  height: 330px;
  margin: 10px;
}

.card {
  background: transparent;
}

.card-inner {
  box-shadow: 0 0 10px red;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 200px;
  height: 330px;
}

.banner {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-inner:hover,
.card-back {
  transform: rotateY(180deg);
}

.card-front img {
  width: 200px;
  height: 330px;
}

.card-back {
  background-image: linear-gradient(black, #8B0000);
  transition: transform 1s;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.card-h {
  text-align: center;
  margin: 15px 0px;
  font-size: 1.3em;
}

.card-btn {
  padding: 3px 5px;
  margin: 5px 3px;
  background: transparent;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.card-p {
  text-align: center;
  margin: 10px 0px;
  padding: 0px 0px;
}

.btn-link {
  text-align: center;
  text-decoration: none;
  width: 110px;
  display: block;
  padding: 3px 5px;
  margin: 5px auto;
  background: #8e10196b;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* POSTER CSS ENDS HERE */


/* SECTION CSS ENDS HERE */